/**
* The CustomizeItem plugin implements an application that
* simply lets the user customize an item using WebGL and ThreeJs.
*
* @author  Llogari Casas
* @version 1.0
* @since   2015-02-21 
*/

body{background: #333; font-family: sans-serif;}
body, html{height: 100%; padding: 0; margin: 0;}

/* TOPBAR */
.topbar{background: #222; position: absolute; top: 0; left: 0; width: 100%; height: 50px; color: white; z-index: 2;}
.topbar > div{height: 50px;margin-left: 50px;border-left: 1px solid white;}
.topbar > div > ul{list-style-type: none; display: inline; float: left; font-size: 14px;}
.topbar > div > ul > li{float: left; width: 170px; border-right: 1px solid white;}
.topbar > div > ul > li > a:hover{background: rgb(225, 178, 14);}
.topbar > div > ul > li > a:active, .topbar > div > ul > li > a:visited{background: transparent;}
.topbar > div > ul > li > a{text-decoration: none; color: white;}
.topbar > div > ul a{cursor: pointer;}
.topbar > div > ul > li{}
.topbar .section div.tool-wrapper{float: left;}

/* LEFTBAR */
.leftbar{background: #222; position: absolute; top: 0; left: 0; width: 50px; height: 100%; color: white;}
.leftbar .section{width: 100%; height: auto; border-top: 1px solid white; padding-bottom: 40px;}
.section div.tool-wrapper{padding: 15px; width: 20px; height: 20px;}
.section a.tool img{width: 20px; height: 20px;}
.leftbar .section:first-child{margin-top: 50px;}
a.tool{cursor: pointer;}
.tool-wrapper{cursor: pointer;}

/* BOTTOM BAR */
.bottombar{background: #222; position: absolute; bottom: 0; left: 0; width: 100%; height: 50px; color: white; z-index: 2;}

/* RIGHT BAR */
.rightbar{background: #222; position: absolute; top: 0; right: 0; width: 300px; height: 100%; color: white; z-index: 1;}
.rightbar .section:first-child{margin-top: 50px;}
.rightbar .section h2{font-size: 14px; margin: 0; padding: 0;}
.rightbar .section{width: 260px; margin: 0 20px 20px 20px;}
.rightbar .section #properties-wrapper{width: 100%; height: 200px; background: #303030; margin: 10px 0;}
.rightbar .section #color-wrapper{width: 100%; height: 130px; background: #303030; margin: 10px 0;}
.rightbar .section b{font-size: 12px; line-height: 38px; margin-left: 20px;}
.rightbar .section span{font-size: 12px; font-weight: normal; margin-left: 10px;}
.rightbar .section #color-wrapper img{margin: 20px 3% 0 3%; width: 94%;}
.rightbar .color-div{width: 21px; height: 21px; margin: 11px; float: left; cursor: pointer;}
.rightbar .image-div{width: 21px; height: 21px; margin: 11px; float: left; cursor: pointer;}

/* CANVAS */
#canvas{position: absolute; left: 50px; top: 50; width: auto; height: auto;}
#scriptText{width: 100%; height: 150px; border: 1px solid #999 !important;}
.logobar{top: 0; left: 0; position: absolute; height: 50px; width: 50px; background: url(../img/UILogo.png); z-index: 100;}
.dropdown-menu{background-color: #222 !important; left: -1px !important;}
.dropdown-menu > li > a{color: white !important;}
.dropdown-menu > li > a:hover{background-color: rgb(225, 178, 14) !important;}
.modal-content{background-color: #222 !important;}
.modal-title{color: white !important;}
.close span{color: white;}
.modal-body{background: #EFEFEF; min-height: 60px;}
.modal-dialog{margin-top: 60px !important;}
.btn-default{background: #EFEFEF !important; border: none !important;}
.btn-primary{background: rgb(225, 178, 14) !important; border: none !important;}
.fullWidth{width: 100%; height: 30px; margin-top: 15px;}
.modal .row{margin-top: 15px; margin-bottom: 15px;}
.hidden{display: none;}
.fileType{font-size: 10px; font-style: italic;}

@media (min-width: 768px) and (max-width: 1024px) {
	.topbar > div > ul > li:last-child{width: 159px;}
	.modal-dialog{margin-top: 20px !important;}
	.rightbar .image-div{margin: 9px 11px;}
}

#minus-btn{width: 50px; height: 50px; background: url(../img/MinusSign.png); position: absolute; top: 560px; left: 600px; z-index: 100; display: none;}
#plus-btn{width: 50px; height: 50px; background: url(../img/PlusSign.png); position: absolute; top: 560px; left: 660px; z-index: 100; display: none;}
#arrow-left{width: 50px; height: 50px; background: url(../img/ArrowLeft.png); position: absolute; top: 560px; left: 540px; z-index: 100; display: none;}
#arrow-up{width: 50px; height: 50px; background: url(../img/ArrowUp.png); position: absolute; top: 500px; left: 600px; z-index: 100; display: none;}
#arrow-down{width: 50px; height: 50px; background: url(../img/ArrowDown.png); position: absolute; top: 560px; left: 600px; z-index: 100; display: none;}
#arrow-right{width: 50px; height: 50px; background: url(../img/ArrowRight.png); position: absolute; top: 560px; left: 660px; z-index: 100; display: none;}